.sidebar {
  width: 30%;
  float: right;
  background-color: yellow;
  padding: 20px;
  border: solid black;
  border-width: 20px;
  margin-bottom: 10px;
}

img {
  float:  left;
}

.bucket  {
  padding: 100px;
  border-width: 10px;
  margin-bottom: 10px;
}